/*login css*/

#logoutform {
    background-color: white;
    box-shadow:10px 10px 20px black;
    border-radius: 30px;
}

#logoutform:hover {
    background-color: #fed136;
}

#loginform {
    background-color: #ecf0f1;
    box-shadow:5px 5px 20px black;
    border-radius: 30px;
}

#loginform:hover {
    background-color: #fed136;
}

fieldset {
    border: none;
}

#messageDisplay {
    background-color: #ff4d4d;
    color:white;
    width: 370px;
    border-radius: 20px;
}

.login {
    position: absolute;
    width: 350px;
    display: none;
    margin-left: 5px;
    z-index: 2;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 2%;
    position: absolute;
    top: -10px;
}

.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.formholder input[type="submit"]:hover {
    background: #1bc6a4;
}

.formholder input[type="button"] {
    background: white;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: 1px;
    border-color: black;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}
.formholder input[type="button"]:hover {
    background: black;
    border-color: white;
    color: white;
}

.randompad {
    padding: 10px;
}

.green {
    color: #1abc9c;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}
a:hover {
    color: #1abc9c;
}

#regbutton {
    text-decoration: none;
}
/* move logo */
#movelogo {
    margin-bottom: 30px;
}

/* return to top button */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* map */
