#profilepic {
    width: 300px;
    height: 300px;
    box-shadow:2px 2px 10px black;
}

.buttoncss {
    height:30px;
    width:100px;
    font-size:14px;
    border-radius:6px;
    color:black;
    background-color:white;
    border-color:black;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    transition:0.3s;
}

.buttoncss:hover {
    color:green;
    background-color:white;
    border-color:green;
    transition:0.3s;
}

.buttoncss2 {
    height:30px;
    width:100px;
    font-size:14px;
    border-radius:6px;
    color:white;
    padding: 5px;
    background-color:black;
    border-color:black;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    transition:0.3s;
}

.buttoncss2:hover {
    color:green;
    background-color:white;
    border-color:green;
    transition:0.3s;
}

#file {
    visibility: hidden;
    display: none;
}